.main-container {
  margin: auto;
  width: 412px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  padding: 42px 32px 32px;
}

@media (max-width: 30em) {
  .main-container {
    width: 300px;
  }
}
